@font-face {
    font-family: 'Ogg';
    src: url(./assets/fonts/Ogg-Regular.ttf);
}

@font-face {
    font-family: 'Ogg';
    src: url(./assets/fonts/Ogg-Medium.ttf);
}

@font-face {
    font-family: 'Ogg';
    src: url(./assets/fonts/Ogg-Light.ttf);
}


html {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Quattrocento', serif;
}

body {
    margin: 0;
    padding: 0;

    overflow-x: hidden;
}

.first__section {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;

    color: #ffffff;

    height: 900px;
    width: 100%;

    background-image: url(./assets/img/bg_1.png);
    background-repeat: no-repeat;
    background-size: cover;
}


header {
    padding-top: 24px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 60px 180px;
}

.nav__middle {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 160px;
}

.nav__center {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 60px;
}

nav {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

a {
    text-decoration: none;

    color: #858684;

    transition: 0.3s;
}


a:hover {
    color: #ffffff;

    padding-bottom: 10px;

    border-bottom: 1px solid #ffffff;
}

.main__content {
    width: 900px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.simplicity__span {
    margin: 0 0 80px -130px;
    color: #858684;
}

h1 {
    margin: 0;

    font-family: 'Ogg';
    font-style: normal;
    font-weight: 300;
    font-size: 110px;
}



.ticker {
    position: absolute;
    z-index: 1;

    width: 3500px;
    height: 24px;
    left: -32px;
    top: 780px;

    font-family: 'Ogg';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;

    text-transform: capitalize;

    color: #71870E;

    animation: ticker 10s linear infinite;
}

@keyframes ticker {
    0% { transform: translateX(0); }
    100% { transform: translateX(-15%); }
  }

.biography__span {
    margin: 0 200px 80px 0;
    color: #ffffff;

    text-align: center;
}

.front__photo {
    width: 640px;
    margin: 110px auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 25px;

    position: relative;
    z-index: 2;
}

/* следующий блок */

.about {
    position: relative;
    margin-top: 300px;
}

.about__content {
    width: 1170px;
    height: auto;

    margin: 0 auto 200px;

    display: flex;
    flex-direction: column;
}

.green__span {
    color: #71870E;
}

.scroll {
    position: absolute;
    left: -118px;
    top: 60%;

    width: 300px;
    height: 22px;

    display: flex;
    transform: rotate(90deg);
}

.scroll__span {
    font-size: 14px;
    line-height: 21px;

    color: #71870E;

    opacity: 0.4;
    transform: rotate(180deg);
}

.scroll__line {
    margin-left: 60px;

    scale: 4;
    transform: rotate(90deg);
}

.about__header h2 {
    margin: 0 0 0 180px;

    font-family: 'Ogg';
    font-style: italic;
    font-weight: 500;
    font-size: 60px;
    line-height: 64px;
}

.about__text {
    font-size: 16px;
    line-height: 28px;

    width: 640px;
    margin: 60px 0 60px 180px;
}

.audio__visual {
    margin-bottom: 55px;
    text-align: end;
}

.about__span {
    position: absolute;
    top: 108px;
}

.utterly__unique {
    margin: 0 0 0 180px;
}

.green {
    color: #71870E;
}